# Lab 1: Python Basics

The objective of this notebook is to learn how to use Jupyter Notebook and to start writing simple Python code. You can find a Python guide at this <a href="https://www.w3schools.com/python/default.asp" >link</a>

## Outline

- [1. Variables and Basic Data Types](#1)
- [2. Basic Math operands](#2)
- [3. String manipulation](#3)
- [4. List manipulation](#4)
- [5. Functions](#5)
- [6. Tuples](#6)
- [7. Sets](#7)
- [8. Dictionaries](#8)
- [9. Conditions and If statements](#9)
- [10. For Loops](#10)

<a id='1'></a>
## 1. Variables and Basic Data Types

### Exercise 1.1
Print as output the following text: `"Hello World"`.

In [2]:
#### START CODE HERE ####
#### Ideally 1 line ####
print("Hello, World!")
#### END CODE HERE ####

Hello, World!

#### Expected output
```Hello World```

Now print as output the number 100.

In [3]:
#### START CODE HERE ####
#### Ideally 1 line ####
print(100)
#### END CODE HERE ####

100

#### Expected output
```100```

### Exercise 1.2
Define a variable `x` with the value 100, then print the value of `x`. 
Remember that variable names should:
<ul>
    <li>start with a letter or an underscore</li>
    <li>only contain letters, numbers, and some special characters (e.g., underscores )</li>
</ul>

In [1]:
#### START CODE HERE ####
#### Ideally 2 line ####
x = 100
print(x)
#### END CODE HERE ####

100

#### Expected output
```100```

### Exercise 1.3
Now, print the **type** of the variable `x`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You should find helpful the <strong>type</strong> function. <a href="https://www.geeksforgeeks.org/python-type-function/" > link </a> </li>
</ul>
</p>

In [2]:
#### START CODE HERE ####
#### Ideally 1 line ####
print(type(x))
#### END CODE HERE ####

<class 'int'>

#### Expected output
```<class 'int'>```

### Exercise 1.4
Define a variable `s` containing the string `"hello world"`, and print the **value** of `s` and its **type**.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You should find helpful the <strong>type</strong> function. <a href="https://www.geeksforgeeks.org/python-type-function/" > link </a> </li>
</ul>
</p>

In [4]:
#### START CODE HERE ####
#### Ideally 3 line ####
s = "hello world"
print(s)
print(type(s))
#### END CODE HERE ####

hello world
<class 'str'>

#### Expected output
```hello world``` <br>
```<class 'str'>```

### Exercise 1.5
Define a variable `pi` containing the number 3.14, then:
<ul>
    <li>Print the <strong>value</strong> and the <strong>type</strong> of $pi$ </li>
    <li>Cast the type of $pi$ into <strong>int</strong></li>
    <li>Print the <strong>value</strong> and the <strong>type</strong> of $pi$ again</li>
</ul>

In [1]:
#### START CODE HERE ####
#### Ideally 6 line ####
pi = 3.14
print(pi)
print(type(pi))
num = int(pi)
print(num)
print(type(num))
#### END CODE HERE ####

3.14
<class 'float'>
3
<class 'int'>

#### Expected output
```3.14``` <br>
```<class 'float'>``` <br>
```3``` <br>
```<class 'int'>```

Notice that the **int() cast** function converts the float number 3.14 into 3 when casting the variable to int.

### Exercise 1.6
Define a variable `x` containing the number 10, then:
<ul>
    <li>Create a new variable $y$ and assign to it the value of $x$ </li>
    <li>Print the values of $x$ and $y$</li>
    <li>Assign to $x$ the value 100 </li>
    <li>Print the values of $x$ and $y$</li>
</ul>

In [2]:
#### START CODE HERE ####
#### Ideally 7 line ####
x = 10
y = x
print(x)
print(y)
x = 100
print(x)
print(y)
#### END CODE HERE ####

10
10
100
10

Notice that when it assigns the value of $x$ to $y$. But they are **two distinct variables** that point to different memory spaces. Therefore, when we change the value of $x$, the value of $y$ is not affected.

<a id='2'></a>
## 2. Basic Math operands

### Exercise 2.1
Define a variable `x` containing the number 10, then:
<ul>
    <li>Print the <strong>value</strong> of $x$ </li>
    <li><strong>Increment</strong> the value of $x$ by 100</li>
    <li>Print the new <strong>value</strong> of $x$ </li>
    <li><strong>Decrement</strong> the value of $x$ by 1</li>
    <li>Print the new <strong>value</strong> of $x$ </li>
</ul>
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>Python defines also a special operand for the <strong>increment</strong> and <strong>decrement</strong> operations: += and -=</li>
</ul>
</p>

In [3]:
#### START CODE HERE ####
#### Ideally 6 line ####
x = 10
print(x)
x += 100
print(x)
x -= 1
print(x)
#### END CODE HERE ####

10
110
109

#### Expected output
```10``` <br>
```110``` <br>
```109```

### Exercise 2.2
Define a variable `x` containing the number 10 and a variable `y` containing the number 200, then:
<ul>
    <li>Create a new variable $z$ containing the value of $x + y$ </li>
    <li>Print the <strong>value</strong> and the <strong>type</strong> of $z$</li>
</ul>

In [4]:
#### START CODE HERE ####
#### Ideally 5 line ####
x = 10
y = 200
z = x + y
print(z)
print(type(z))
#### END CODE HERE ####

210
<class 'int'>

#### Expected output
```210``` <br>
```<class 'int'>```

### Exercise 2.3
Define a variable `x` containing the number 10 and a variable `y` containing the number 200, then:
<ul>
    <li>Create a new variable $z$ containing the <strong>average</strong> of $x$ and $y$ </li>
    <li>Print the <strong>value</strong> and the <strong>type</strong> of $z$</li>
</ul>
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>The <strong>division operand</strong> in python is $/$ </li>
</ul>
</p>

In [6]:
#### START CODE HERE ####
#### Ideally 5 line ####
x = 10
y = 200
z = (x + y) / 2
print(z)
print(type(z))

#### END CODE HERE ####

105.0
<class 'float'>

#### Expected output
```105``` <br>
```<class 'float'>```

Notice that the <strong>type</strong> of the variable `z` is changed to <strong>float</strong>.

<a id='3'></a>
## 3. String manipulation

In [7]:
s1 = "This is a simple string"
print(s1)
s2 = 'This is another string, but using quote instead of double quote'
print(s2)

This is a simple string
This is another string, but using quote instead of double quote

In [8]:
s = """This is a 
multiline
string"""

print(s)

This is a
multiline
string

In [10]:
i=5
s="5"
print(i, type(i))
print(s, type(s))
print(i + 1)
num = int(s)
print(num + 1)

5 <class 'int'>
5 <class 'str'>
6
6

`5` is the number 5 (int). In contrast, `"5"` is the character 5 (string). If you want to use `"5"` for math operations, you must convert `"5"` to int or float.

In [11]:
i=5
s="5"
print(i, type(i))
print(s, type(s))
print(i + 1)
print(int(s) + 1) # cast the character "5" to int

5 <class 'int'>
5 <class 'str'>
6
6

### Exercise 3.1
Define a variable `s1` containing the string `"this is a string"` and a variable `s2` containing `", this is another string"`. Then, create a third variable `s3` by **concatenating** `s1` and `s2`. Print the value of `s3`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>Strings <strong>concatenation</strong> can be done with the $+$ operator (<a href="https://www.w3schools.com/python/gloss_python_string_concatenation.asp" >link</a>). </li>
</ul>
</p>

In [12]:
#### START CODE HERE ####
#### Ideally 4 line ####
s1 = "this is a string"
s2 = ", this is another string"
s3 = s1 + s2
print(s3)
#### END CODE HERE ####

this is a string, this is another string

#### Expected output
```this is a string, this is another string```

### Exercise 3.2
Replace each occurrence of the substring `"four"` with the other substring `"three"` from the variable `s`, and assign the resulting string to the same variable. Then, print the new value of `s`.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can find useful the string <strong>replace()</strong> method (<a href="https://www.w3schools.com/python/ref_string_replace.asp" >link</a>). </li>
</ul>
</p>

In [13]:
s = "I bought four apples, two bananas, and four oranges"
print(s)
#### START CODE HERE ####
#### Ideally 2 line ####
s1 = s.replace(s[2], "three")
print(s1)
#### END CODE HERE ####

I bought four apples, two bananas, and four oranges
I threeought four apples, two threeananas, and four oranges

#### Expected output
```I bought four apples, two bananas, and four oranges``` <br>
```I bought three apples, two bananas, and three orange```

<a id='4'></a>
## 4. List manipulation
**Lists** are sequences of any type of value. They are defined by **square brackets**, and the elements are separated by **commas**. The elements in a list are **ordered**.

### Exercise 4.1
Create a **list** named `my_list` containing the following elements: 1, 3, 5 (as integer). Then, print tha values of the list.

In [14]:
#### START CODE HERE ####
#### Ideally 2 line ####
my_list = [1, 3, 5]
print(my_list)
#### END CODE HERE ####

[1, 3, 5]

#### Expected output
```[1, 2, 3]```

### Exercise 4.2
Change the first element of `my_list` with the value 10. Then, print the new values of the list.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>In python string are 0 initialized. This means that the first element of the list is in position 0.</li>
    <li>You can find more about access list items <a href="https://www.w3schools.com/python/python_lists_access.asp" >here</a></li>
</ul>
</p>

In [15]:
my_list = [1, 2, 3]
print(my_list)

#### START CODE HERE ####
#### Ideally 1 line ####
my_list[0] = 10
#### END CODE HERE ####
print(my_list)

[1, 2, 3]
[10, 2, 3]

#### Expected output
```[1, 2, 3]``` <br>
```[10, 2, 3]```

### Exercise 4.3
Print the **first 10 elements** of the following list. Then, print the **last two elements**. Finally, print the elements from **5 to 10** (both included).
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can find more about <strong>slicing</strong> <a href="https://www.w3schools.com/python/python_lists_access.asp" >here</a></li>
</ul>
</p>

In [21]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10, 11, 12, 13, 14, 15]

#### START CODE HERE ####
#### Ideally 3 line ####
print(my_list[:10])
print(my_list[13:15])
print(my_list[4:10])
#### END CODE HERE ####

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[14, 15]
[5, 6, 7, 8, 9, 10]

#### Expected output
```[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]``` <br>
```[14, 15]``` <br>
```[5, 6, 7, 8, 9, 10]```

### Exercise 4.4
**Concatenate** the two lists `l1` and `l2` into a new variable `my_list`. Then, print the **length** of the new list (i.e., the number of elements).
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>The operator for <strong>list concatenation</strong> is +.</li>
    <li>To compute the <strong>length</strong> of a list use the len() function.</li>
</ul>
</p>

In [22]:
l1 = ["one", "two"]
l2 = [1, 2]

#### START CODE HERE ####
#### Ideally 1 line ####
my_list = l1 + l2
#### END CODE HERE ####
print(my_list)
print(len(my_list))

['one', 'two', 1, 2]
4

#### Expected output
```4``` <br>
```['one', 'two', 1, 2]``` <br>

### Exercise 4.5
**Add at the end** of `my_list` a new element 5 (int).
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You could find useful the <strong>append</strong> method (<a href="https://www.w3schools.com/python/python_lists_add.asp" >link</a>).</li>
</ul>
</p>

In [23]:
my_list = [1, 2, 3, 4]
print(my_list)
#### START CODE HERE ####
#### Ideally 1 line ####
my_list.append(5)
#### END CODE HERE ####
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

#### Expected output
```[1, 2, 3, 4]``` <br>
```[1, 2, 3, 4, 5]``` <br>

### Exercise 4.6
**Order** the following list `my_list` in <b>ascending</b> order.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You could find useful the <strong>sort()</strong> method or the <strong>sorted()</strong> function (<a href="https://www.programiz.com/python-programming/methods/list/sort" >link</a>).</li>
</ul>
<b>Note:</b> There are two possibilities: sorted() and sort(). The simplest difference between sort() and sorted() is: sort() changes the list directly and doesn't return any value, while sorted() doesn't change the list and returns the sorted list.
</p>

In [24]:
my_list = [100, 12, 72, 33, 99, 24, 49, 1, 15, 50]
print(my_list)
      
#### START CODE HERE ####
#### Ideally 1 line ####
my_list.sort()
#### END CODE HERE ####
      
print(my_list)

[100, 12, 72, 33, 99, 24, 49, 1, 15, 50]
[1, 12, 15, 24, 33, 49, 50, 72, 99, 100]

#### Expected output
```[100, 12, 72, 33, 99, 24, 49, 1, 15, 50]``` <br>
```[1, 12, 15, 24, 33, 49, 50, 72, 99, 100]``` <br>

Now **order** the list `my_list` in <b>descending</b> order.

In [25]:
my_list = [100, 12, 72, 33, 99, 24, 49, 1, 15, 50]
print(my_list)
#### START CODE HERE ####
#### Ideally 1 line ####
my_list.sort(reverse=True)
#### END CODE HERE ####

print(my_list)

[100, 12, 72, 33, 99, 24, 49, 1, 15, 50]
[100, 99, 72, 50, 49, 33, 24, 15, 12, 1]

#### Expected output
```[100, 12, 72, 33, 99, 24, 49, 1, 15, 50]``` <br>
```[100, 99, 72, 50, 49, 33, 24, 15, 12, 1]``` <br>

### Exercise 4.7

Lists in Python are **mutable**. If you define a list variable, it is only a **reference** to its items. If you define a new variable with `l1 = l2` it is only a new reference to the same items. If you change the value of an item from one list, the changed item is also viewed from the other reference.

In [26]:
l1 = [1, 2, 3]
l2 = l1
print("l1: ", l1)
print("l2: ", l2)
l1[0] = 4
print("\n")
print("l1: ", l1)
print("l2: ", l2)

l1:  [1, 2, 3]
l2:  [1, 2, 3]


l1:  [4, 2, 3]
l2:  [4, 2, 3]

Define a new list variable by making a **hard copy** (i.e., the two lists have the same values but point at different memory spaces). Copy the list `l1` into a new list `l2`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You could find useful the <strong>copy()</strong> method to create an hard copy of the list (<a href="https://www.w3schools.com/python/python_lists_copy.asp" >link</a>).</li>
</ul>
<b>Note:</b> Copy the value of $l2$ into $l1$. Notice that $l2 = l1$ only creates a reference to $l1$. They both point at the same memory space..
</p>

In [27]:
l1 = [1, 2, 3]
#### START CODE HERE ####
#### Ideally 1 line ####
l2 = l1.copy()
#### END CODE HERE ####
print("l1: ", l1)
print("l2: ", l2)
l1[0] = 4
print("\n")
print("l1: ", l1)
print("l2: ", l2)

l1:  [1, 2, 3]
l2:  [1, 2, 3]


l1:  [4, 2, 3]
l2:  [1, 2, 3]

#### Expected output
```l1:  [1, 2, 3]``` <br>
```l2:  [1, 2, 3]``` <br><br>
```l1:  [4, 2, 3]``` <br>
```l2:  [1, 2, 3]```

<a id='5'></a>
## 5. Functions
A **function** is a block of code that only runs when it is called. A function can take some **input parameters** and return some **output** data as a result. You can learn more about python functions <a href="https://www.w3schools.com/python/python_functions.asp" >here</a>.

### Exercise 5.1
Create a function called `my_add_fn`. It takes two values as input `(x, y)`, and returns their **sum**.

In [29]:
def my_add_fn(x, y):
#### START CODE HERE ####
#### Ideally 1 line ####
    print(x + y)
#### END CODE HERE ####

In [30]:
my_add_fn(10, 20)

30

#### Expected output
```30```

### Exercise 5.2
Create a function called `my_avg_fn`. It takes two values as input `(x, y)`, and returns their **average**.

In [31]:
#### START CODE HERE ####
#### Ideally 2 line ####
def my_avg_fn(x, y):
    avg = (x + y) / 2
    print(avg)
#### END CODE HERE ####

In [32]:
my_avg_fn(10, 20)

15.0

#### Expected output
```15.0```

### Exercise 5.3
Create a function called `my_replace_fn`. It takes three strings as input `s1`, `s2`, and `s3`, and it returns the value of `s1` by replacing each occurrence of the string `s2` from the string `s1` with a new string `s3`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can find useful the string <strong>replace()</strong> method (<a href="https://www.w3schools.com/python/ref_string_replace.asp" >link</a>). </li>
</ul>
</p>

In [54]:
def my_replace_fn(s1, s2, s3):
#### START CODE HERE ####
#### Ideally 1 line ####
    newStr = s1.replace(s2, s3)
    print(newStr)
#### END CODE HERE ####

In [55]:
s1 = "I don't know how to code in python"
s2 = "don't know"
s3 = "am learning"
my_replace_fn(s1, s2, s3)

I am learning how to code in python

#### Expected output
```'I am learning how to code in python'```

<a id='6'></a>
## 6. Tuples
A tuple is a collection that is ordered and <b>unchangeable</b>. They are defined by **round brackets**, and the elements are separated by **commas**. Different from lists that are mutable.
You can find more about python tuples <a href="https://www.w3schools.com/python/python_tuples.asp" >here</a>.

### Exercise 6.1
Print: 
<ul>
    <li><strong>all</strong> the elements of the tuple</li>
    <li>the <strong>second</strong> element of the tuple</li>
    <li>the <strong>last</strong> element of the tuple</li>
    <li>the <strong>length</strong> of the tuple</li>
</ul>
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>Remember that sequences in Python are 0 initialized.</li>
</ul>
</p>

In [61]:
my_tuple = ("math", "science", "art", "history")
#### START CODE HERE ####
#### Ideally 4 line ####
print(my_tuple)
print(my_tuple[1])
print(my_tuple[3])
print(len(my_tuple))
#### END CODE HERE ####

('math', 'science', 'art', 'history')
science
history
4

#### Expected output
```('math', 'science', 'art', 'history')```<br>
```science```<br>
```history```<br>
```4```

Python tuples are <b>unchangeable</b>. What do you think will happen if I try to change the first element of the tuple?

In [62]:
my_tuple[0] = "new_subject"
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

It will raise a TypeError

<a id='7'></a>
## 7. Sets
A set is a collection which is <b>unordered</b>, <b>unchangeable</b>, and <b>unindexed</b>. They are defined by **curly brackets**, and the elements are separated by **commas**.
You can't change values in a set, but you can remove items or add new items. Sets do not allow duplicate values.
You can find more about python sets <a href="https://www.w3schools.com/python/python_sets.asp" >here</a>.

### Exercise 7.1
Create a set named `my_set` with the following items: `'math'`, `'science'`, `'art'`, `'history'`. Then:
<ul>
    <li>print the <strong>items</strong> of the set</li>
    <li>print the <strong>length</strong> of the set</li>
    <li><strong>remove</strong> "math" from the set</li>
    <li><strong>add</strong> "computer science" to the set</li>
</ul>

In [67]:
#### START CODE HERE ####
#### Ideally 5 line ####
my_set = {'math', 'science', 'art', 'history'}
#### END CODE HERE ####
print(my_set)
print(len(my_set))
my_set.remove("math")
my_set.add("computer science")
print(my_set)

{'art', 'history', 'science', 'math'}
4
{'science', 'computer science', 'art', 'history'}

#### Expected output
```{'science', 'history', 'math', 'art'}```<br>
```4```<br>
```{'computer science', 'science', 'art', 'history'}```

### Exercise 7.2
Get the list of the **distinct elements** in `my_list`, save the distinct elements into a new list named `my_distinct_list`. The distinct elements are a list without the repetitions of elements.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You could exploit the <strong>set</strong> function to get the <strong>distinct items</strong></li>
</ul>
<b>Note:</b> You should also cast to list to get a new list <a href="https://www.w3schools.com/python/python_casting.asp" >here</a>.

In [68]:
my_list = ["math", "science", "science", "art", "history", "history", "art", "art"]
my_distinct_list = None
#### START CODE HERE ####
#### Ideally 1 line ####
#### END CODE HERE ####
my_distinct_list = list(set(my_list))
# Don't change this code!
print("original list:", my_list)
print("distinct list:", my_distinct_list)

original list: ['math', 'science', 'science', 'art', 'history', 'history', 'art', 'art']
distinct list: ['art', 'history', 'science', 'math']

#### Expected output
```original list: ['math', 'science', 'science', 'art', 'history', 'history', 'art', 'art']```<br>
```distinct list: ['science', 'history', 'math', 'art']```

<a id='8'></a>
## 8. Dictionaries
A dictionary is a collection that is <b>ordered</b>, <b>changeable</b>, and does <b>not allow duplicates</b>. Dictionaries are written with **curly brackets**, and have **keys** and **values**. You can find more about python dictionaries <a href="https://www.w3schools.com/python/python_dictionaries.asp" >here</a>.

### Exercise 8.1
You have a dictionary `my_dict` with the **subjects** as **keys** and **marks** as **values**. Print the mark of the subject `"art"`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can access the <strong>value</strong> by <strong>key</strong> with <strong>square brackets</strong>.</li>
</ul>
</p>

In [69]:
my_dict = {"math":20, 
           "science":30, 
           "art":18, 
           "history":20}
#### START CODE HERE ####
#### Ideally 1 line ####
print(my_dict["art"])
#### END CODE HERE ####

18

#### Expected output
```18```

### Exercise 8.2
Change the mark of the subject `math` with a value of 30.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can access the <strong>value</strong> by <strong>key</strong> with <strong>square brackets</strong>.</li>
</ul>
</p>

In [70]:
my_dict = {"math":20, 
           "science":30, 
           "art":18, 
           "history":20}
print(my_dict)
#### START CODE HERE ####
#### Ideally 1 line ####
my_dict["math"] = 30
#### END CODE HERE ####

# Don't change this code!
print(my_dict)

{'math': 20, 'science': 30, 'art': 18, 'history': 20}
{'math': 30, 'science': 30, 'art': 18, 'history': 20}

#### Expected output
```{'math': 20, 'science': 30, 'art': 18, 'history': 20}``` <br>
```{'math': 30, 'science': 30, 'art': 18, 'history': 20}```

### Exercise 8.3
Define a function that takes three parameters as input `my_dict`, `my_key`, and `my_value`. If `my_key` is already present in `my_dict`, it changes the old value with `my_value`. Otherwise, it adds the new key-value pair. The function returns the new dictionary.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can access the <strong>value</strong> by <strong>key</strong> with <strong>square brackets</strong>.</li>
    <li>Like for lists, you must make an hard-copy with the <strong>copy()</strong> method.</li>
</ul>
</p>

In [75]:
my_dict = {"math":20, 
           "science":30, 
           "art":18, 
           "history":20}

def my_add_dict_fn(my_dict, my_key, my_value):
    #### START CODE HERE ####
    #### Ideally 3 line ####
    my_dict_copy = my_dict.copy()
    my_dict_copy[my_key] = my_value
    return my_dict_copy
    #### END CODE HERE ####

In [76]:
# Don't change this code!
my_new_dict_1 = my_add_dict_fn(my_dict, "art", 30)
my_new_dict_2 = my_add_dict_fn(my_dict, "english", 22)
print(my_dict)
print(my_new_dict_1)
print(my_new_dict_2)

{'math': 20, 'science': 30, 'art': 18, 'history': 20}
{'math': 20, 'science': 30, 'art': 30, 'history': 20}
{'math': 20, 'science': 30, 'art': 18, 'history': 20, 'english': 22}

#### Expected output
```{'math': 20, 'science': 30, 'art': 18, 'history': 20}``` <br>
```{'math': 20, 'science': 30, 'art': 30, 'history': 20}``` <br>
```{'math': 20, 'science': 30, 'art': 18, 'history': 20, 'english': 22}```

<a id='9'></a>
## 9. Conditions and If statements
You can find more about python conditions and if statements <a href="https://www.w3schools.com/python/python_conditions.asp" >here</a>.

### Exercise 9.1
Define a function that takes a variable `x` as input and prints `"Greater or equal than zero"` if the variable is greater or equal to zero and `"Less than zero"` if negative. Be careful about python indentation.

In [77]:
def my_positive_check_fn(x):
#### START CODE HERE ####
#### Ideally 5 line ####
    if x > 0 or x == 0:
        print("Greater or equal tham zero")
    else:
        print("Less than zero")
#### END CODE HERE ####

# Don't change this code!
my_positive_check_fn(100)
my_positive_check_fn(0)
my_positive_check_fn(-1)

Greater or equal tham zero
Greater or equal tham zero
Less than zero

#### Expected output
```Greater or equal than zero```<br>
```Greater or equal than zero```<br>
```Less than zero```

### Exercise 9.2
Define a function that takes a variable `x` as input and prints `"Odd"` if the the variable is odd and `"Even"` if even. Be careful about python indentation.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>If you divide by 2 an odd number the remainder should be 0</li>
    <li>You could find useful the <strong>modulus operator</strong>. <a href="https://www.w3schools.com/python/python_operators.asp" > link </a> </li>
</ul>
</p>

In [78]:
def my_odd_even_check_fn(x):
#### START CODE HERE ####
#### Ideally 5/6 lines ####
    if x % 2 == 0:
        print("Even")
    else:
        print("Odd")
#### END CODE HERE ####

# Don't change this code!
my_odd_even_check_fn(1)
my_odd_even_check_fn(2)
my_odd_even_check_fn(5)
my_odd_even_check_fn(10)

Odd
Even
Odd
Even

#### Expected output
```Odd```<br>
```Even```<br>
```Odd```<br>
```Even```

### Exercise 9.3
Define a function that takes two strings `my_str` and `my_sub_str` as input. Then, it prints `"Found {my_sub_str} into {my_str}"` if `my_str` contains `my_sub_str`, and `"Not found {my_sub_str} into {my_str}"` otherwise. The printed string should substitute `my_sub_str` and `my_str` with their values. It returns the `True` boolean if `my_str` contains `my_sub_str`, `False` otherwise.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can learn more about string formatting <a href="https://www.w3schools.com/python/python_string_formatting.asp" > here </a></li>
    <li>You can learn more about python Booleans <a href="https://www.w3schools.com/python/python_booleans.asp" > here </a></li>
    <li>You could find useful the <strong>in</strong> operator. <a href="https://www.w3schools.com/python/python_operators.asp" > link </a> </li>
</ul>
</p>

In [79]:
def my_subtring_check_fn(my_str, my_sub_str):
#### START CODE HERE ####
#### Ideally 5/6 lines ####
    if my_sub_str in my_str:
        print("Found {my_sub_str} into {my_str}")
        return True
    else:
        print("Not Found {my_sub_str} into {my_str}")
        return False

#### END CODE HERE ####

# Don't change this code!
str_flag = my_subtring_check_fn("hello world", "hello")
print(str_flag)
str_flag = my_subtring_check_fn("hello world", "bye")
print(str_flag)

Found {my_sub_str} into {my_str}
True
Not Found {my_sub_str} into {my_str}
False

#### Expected output
```Found hello into hello world```<br>
```True```<br>
```Not found bye into hello world```<br>
```False```

### Exercise 9.4
Define a function that takes a list of numbers named `my_list` and a number `x` input. Then, it returns the `True` boolean if `my_list` contains `x`, `False` otherwise.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can learn more about python Booleans <a href="https://www.w3schools.com/python/python_booleans.asp" > here </a></li>
    <li>You could find useful the in operator. <a href="https://www.w3schools.com/python/python_operators.asp" > link </a> </li>
</ul>
</p>

In [80]:
def my_list_check_fn(my_list, x):
#### START CODE HERE ####
#### Ideally 4 lines ####
    if x in my_list:
        return True
    else:
        return False
#### END CODE HERE ####

# Don't change this code!
my_flag = my_list_check_fn([0, 4, 2, 5], 1)
print(my_flag)
my_flag = my_list_check_fn([0, 4, 2, 5], 4)
print(my_flag)

False
True

#### Expected output
```False```<br>
```True```

### Exercise 9.5
Create a function called `my_sum_avg_fn`. It takes three numbers as input `x`, `y`, and `z`, and it returns their **sum**, their **average**, and the boolean `True` if **all** the inputs parameters are **postiive** (>= 0). Otherwise, it returns `False`. Please respect the order of the returned parameters.

In [81]:
def my_sum_avg_fn(x, y, z):
#### START CODE HERE ####
#### Ideally 6/7 line ####
    sum = x + y + z
    avg = sum / 3
    flag = False
    if x >= 0 and y >=0 and z >= 0:
        flag = True
    return (sum, avg, flag)
#### END CODE HERE ####

In [82]:
my_sum, my_avg, my_flag = my_sum_avg_fn(0, 0, 0)
print("Sum: {}. Avg: {}. All Positive: {}".format(my_sum, my_avg, my_flag))
my_sum, my_avg, my_flag = my_sum_avg_fn(10, -1, 3)
print("Sum: {}. Avg: {}. All Positive: {}".format(my_sum, my_avg, my_flag))
my_sum, my_avg, my_flag = my_sum_avg_fn(10, 20, 30)
print("Sum: {}. Avg: {}. All Positive: {}".format(my_sum, my_avg, my_flag))
my_sum, my_avg, my_flag = my_sum_avg_fn(10, 0, 20)
print("Sum: {}. Avg: {}. All Positive: {}".format(my_sum, my_avg, my_flag))

Sum: 0. Avg: 0.0. All Positive: True
Sum: 12. Avg: 4.0. All Positive: False
Sum: 60. Avg: 20.0. All Positive: True
Sum: 30. Avg: 10.0. All Positive: True

#### Expected output
```Sum: 0. Avg: 0.0. All Positive: True``` <br>
```Sum: 12. Avg: 4.0. All Positive: False``` <br>
```Sum: 60. Avg: 20.0. All Positive: True``` <br>
```Sum: 30. Avg: 10.0. All Positive: True```

### Exercise 9.6
Define a function that takes three parameters as input `my_dict`, `my_key`, and `my_value`. It changes the value of `my_key` with `my_value` **only if it is already present** in `my_dict`. Otherwise, it will print: `"The key {my_key} is not in the dictionary"`. You should not make a hard-copy of the dictionary.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can access the <strong>value</strong> by <strong>key</strong> with <strong>square brackets</strong>.</li>
    <li>To check if a key is in a dictionary you can use the  <strong>in</strong> operator.</li>
</ul>
</p>

In [83]:
my_dict = {"math":20, 
           "science":30, 
           "art":18, 
           "history":20}

def my_update_dict_fn(my_dict, my_key, my_value):
    #### START CODE HERE ####
    #### Ideally 5 line ####
    newDict = my_dict.copy()
    if my_key in newDict:
        newDict[my_key] = my_value
    return newDict
    #### END CODE HERE ####

In [84]:
# Don't change this code!
print("original dict:", my_dict)
my_dict = my_update_dict_fn(my_dict, "art", 30)
print("update 1:", my_dict)
my_dict = my_update_dict_fn(my_dict, "english", 22)
print("update 2:", my_dict)

original dict: {'math': 20, 'science': 30, 'art': 18, 'history': 20}
update 1: {'math': 20, 'science': 30, 'art': 30, 'history': 20}
update 2: {'math': 20, 'science': 30, 'art': 30, 'history': 20}

#### Expected output
```original dict: {'math': 20, 'science': 30, 'art': 30, 'history': 20}``` <br>
```update 1: {'math': 20, 'science': 30, 'art': 30, 'history': 20}``` <br>
```The key english is not in the dictionary```<br>
```update 2: {'math': 20, 'science': 30, 'art': 30, 'history': 20}```

<a id='10'></a>
## 10. For Loops
A **for loop** is used for **iterating over a sequence** (i.e., either a list, a tuple, a dictionary, a set, or a string).
You can find more about python for loops <a href="https://www.w3schools.com/python/python_for_loops.asp" >here</a>.

### Exercise 10.1
Define a loop from `0` to `x` (both included) that prints `"{i}: greater or equal than 2"` if the index of the loop is greater or equal than 2. `"{i}: less than 2"` if the index of the loop is less than 2. The value of the index of the loop `i` should substitute `{i}` in the printed outputs.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li> You should find useful how to loop through the index numbers and the <strong>range</strong> function <a href="https://www.w3schools.com/python/python_lists_loop.asp" > link </a></li>
    <li>You can learn more about string formatting <a href="https://www.w3schools.com/python/python_string_formatting.asp" > here </a></li>
</ul>
</p>

In [87]:
x = 5
#### START CODE HERE ####
#### Ideally 5/6 lines ####
for i in range(0, x):
    if i >= 2:
        print(i, ": greater or equal than 2")
    else:
        print(i, ": less than")
#### END CODE HERE ####

0 : less than
1 : less than
2 : greater or equal than 2
3 : greater or equal than 2
4 : greater or equal than 2

#### Expected output
```0: less than 2```<br>
```1: less than 2```<br>
```2: greater or equal than 2```<br>
```3: greater or equal than 2```<br>
```4: greater or equal than 2```<br>
```5: greater or equal than 2```

### Exercise 10.2
Define a loop that iterates `my_list` and multiplies each element of the list by `2`. Save the elements multiplied by 2 in the same list `my_list`.

In [91]:
my_list = [1, 2, 3, 4, 5]
print("original list: {}".format(my_list))
#### START CODE HERE ####
#### Ideally 2 lines ####
for i in range(0, len(my_list)):
    my_list[i] = my_list[i] *2
    
#### END CODE HERE ####

# Don't change this code!
print("modified list: {}".format(my_list))

original list: [1, 2, 3, 4, 5]
modified list: [2, 4, 6, 8, 10]

#### Expected output
```original list: [1, 2, 3, 4, 5]```<br>
```modified list: [2, 4, 6, 8, 10]```

### Exercise 10.3
Define a function that prints numbers from `0` to `n` (both included). It takes as input `n` and prints all the numbers from `0` to `n` (both included).
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li> You should find useful how to loop through the index numbers and the <strong>range</strong> function <a href="https://www.w3schools.com/python/python_lists_loop.asp" > link </a></li>
</p>

In [92]:
def my_print_n_fn(n):
#### START CODE HERE ####
#### Ideally 2 lines ####
    for i in range(0, n + 1):
        print(i)
#### END CODE HERE ####
    return

# Don't change this code!
my_print_n_fn(0)
print("\n")
my_print_n_fn(3)

0


0
1
2
3

#### Expected output
```0```<br><br>
```0```<br>
```1```<br>
```2```<br>
```3```

### Exercise 10.4
The dictionary `my_dict` contains **subjects** as **keys** and **marks** as **values**. Define a loop that iterates the dictionary `my_dict`. For each key-value pair, print `"key: {key}, value: {value}"`. Replace `{key}` and `{value}` with the current key and value at each iteration.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li> You should find useful how to loop through  dictionaries<a href="https://www.w3schools.com/python/python_dictionaries_loop.asp" > link </a></li>
    <li>You can learn more about string formatting <a href="https://www.w3schools.com/python/python_string_formatting.asp" > here </a></li>
</ul>
</p>

In [101]:
my_dict = {"math": 30, "history": 27, "art":24, "computer science": 28}
#### START CODE HERE ####
#### Ideally 2 lines ####
for key, value in my_dict.items():
    print("key: ", key,",value: ", value)
#### END CODE HERE ####

key:  math ,value:  30
key:  history ,value:  27
key:  art ,value:  24
key:  computer science ,value:  28

#### Expected output
```key: math, value: 30```<br>
```key: history, value: 27```<br>
```key: art, value: 24```<br>
```key: computer science, value: 28```

### Exercise 10.5
The dictionary `my_dict` contains **subjects** as **keys** and **marks** as **values**. Define a loop that iterates the dictionary `my_dict` and saves in the list `tirty_marks` all the **subjects** with a mark equal to 30 (i.e., all the keys whose value is equal to 30). Count the number of elements with a mark equal to 30 (i.e., values equal to 30) in a variable `count_30`.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
        <li> You should find useful how to loop through  dictionaries<a href="https://www.w3schools.com/python/python_dictionaries_loop.asp" > link </a></li>
</ul>
</p>

In [102]:
count_30 = 0
my_dict = {"math": 30, "history": 27, "art":24, "computer science": 28, "science":30}
tirty_marks = []
#### START CODE HERE ####
#### Ideally 4 lines ####
for key, value in my_dict.items():
    if value == 30:
        tirty_marks.append(key)
        count_30 = count_30 + 1
        
#### END CODE HERE ####

# Don't change this code!
print("Number of exams with a mark of 30:", count_30)
print("Exams subjects with a mark of 30:", tirty_marks)

Number of exams with a mark of 30: 2
Exams subjects with a mark of 30: ['math', 'science']

#### Expected output
```Number of exams with a mark of 30: 2```<br>
```Exams subjects with a mark of 30: ['math', 'science']```

### Exercise 10.6
Define a loop that iterates the dictionary `my_dict` and **sums** the values **only if they are positive**. Put the **sum** in a variable called `marks_sum`.

In [103]:
my_dict = {"math": 30, "history": -1, "art":24, "computer science": -1, "science":30}
marks_sum = 0
#### START CODE HERE ####
#### Ideally 4 lines ####
for key, value in my_dict.items():
    if value > 0:
        marks_sum += value
#### END CODE HERE ####

# Don't change this code!
print("Sum of positive marks", marks_sum)

Sum of positive marks 84

#### Expected output
```Sum of positive marks 84```