# Lab 4: Pandas

The objective of this notebook is to learn about the **Pandas** library (<a href="https://pandas.pydata.org/docs/reference/index.html#api" >official documentation</a>). You can find a good guide at this <a href="https://www.w3schools.com/python/pandas/default.asp" >link</a>.

## Outline

- [1. Pandas Series](#1)
- [2. Pandas DataFrames](#2)
- [3. Computation with Pandas](#3)

First, run the following cell to import some useful libraries to complete this Lab. If not already done, you must install them in your virtual environment

In [1]:
import pandas as pd
import numpy as np
import random

If the previous cell outputs one the following error: `ModuleNotFoundError: No module named 'pandas'`, then, you have to install the Pandas package. If you don't remember how to install a Python package, please retrieve the guide on Anaconda-Navigator.

To install **pandas** you can use one of the following commands from the terminal of your virtual environment: <br>
`conda install pandas` <br>
`pip install pandas`

<a id='1'></a>
## 1. Pandas Series

### Exercise 1.1
Create a **Pandas Series** from the following list `[1.0, 5.0, 0.5, 4.1]` and **index** `["person 1", "person 2", "person 3", "person 4"]`. Then, print the **Series**.

In [ ]:
#### START CODE HERE (~2 lines) ####


#### END CODE HERE ####

#### Expected output
```person 1    1.0``` <br>
```person 2    5.0```<br>
```person 3    0.5```<br>
```person 4    4.1```<br>
```dtype: float64```

### Exercise 1.2
Create a **Pandas Series** from the following dictionary `{"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1}`. Then, print the **Series**.

In [ ]:
#### START CODE HERE (~2 lines) ####


#### END CODE HERE ####

#### Expected output
```person 1    1.0``` <br>
```person 2    5.0```<br>
```person 3    0.5```<br>
```person 4    4.1```<br>
```dtype: float64```

You can see that the two methods of creating the Series are **equivalent** and produce the same output.

### Exercise 1.3
Put **all the elements** of the Series `s1` into a variable `s1_values`. Then print the **value** of `s1_values` and its **type**.

In [ ]:
s1 = pd.Series([1.0, 5.0, 0.5, 4.1])

#### START CODE HERE (~3 lines) ####


#### END CODE HERE ####

#### Expected output
```[1.  5.  0.5 4.1]``` <br>
```<class 'numpy.ndarray'>```

You can see that the **values** attribute of a Series returns a **Numpy array**.

### Exercise 1.4
Access the value of the Series `s1` with the **index in position 1** (i.e., the second element) and print its **value**.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access an element of the Series by the index position (implicit index), you should use the <strong>.iloc()</strong> method and specify the index position as a parameter.</li>
</ul>
</p>

In [ ]:
s1 = pd.Series({"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1})

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```5.0```

### Exercise 1.5
Access the value of the Series `s1` with the **explicit index** equal to `"person 3"` and print its **value**.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access an element of the Series by the explicit index, you should use the <strong>.loc()</strong> method and specify the index value as a parameter.</li>
</ul>
</p>

In [ ]:
s1 = pd.Series({"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1})

#### START CODE HERE (~1 line) ####


#### END CODE HERE ####

#### Expected output
```0.5```

### Exercise 1.6
**Access** and **print** the **slice** of the Series `s1` from the **second** element until the **fourth**, both included.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
<li>To access a slice of the Series by the implicit index, you can use specify the slice as a parameter of the  <strong>.iloc()</strong> method.</li>
    <li>With the <strong>.iloc()</strong> method, the start index is included, and the stop index is excluded.</li>
</ul>
</p>

In [ ]:
s1 = pd.Series({"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1})

#### START CODE HERE (~1 line) ####


#### END CODE HERE ####

#### Expected output
```person 2    5.0```<br>
```person 3    0.5```<br>
```person 4    4.1```<br>
```dtype: float64```

### Exercise 1.7
**Access** and **print** the **slice** of the Series `s1` from index `"person 2"` to `"person 4"`, both included.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access a slice of the Series by the explicit index, you can use specify the slice as a parameter of the  <strong>.loc()</strong> method (both index are included).</li>
</ul>
</p>

In [ ]:
s1 = pd.Series({"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1})

#### START CODE HERE (~1 line) ####


#### END CODE HERE ####

#### Expected output
```person 2    5.0```<br>
```person 3    0.5```<br>
```person 4    4.1```<br>
```dtype: float64```

### Exercise 1.8
Define a **mask** into a variable `my_mask` starting from the Series `s1` with `True` for the elements that are **strictly greater than 1**, `False` otherwise. Then, **print** the **mask** and the **elements of the Series where the mask is** `True`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>Masking works in the same way as for Numpy arrays.</li>
    <li>When using masking, you can avoid loc() and iloc().</li>
</ul>
</p>

In [ ]:
s1 = pd.Series({"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1})

#### START CODE HERE (~3 lines) ####

#### END CODE HERE ####

#### Expected output
```person 1    False```<br>
```person 2    True```<br>
```person 3    False```<br>
```person 4    True```<br>
```dtype: float64``` <br>
```person 2    5.0```<br>
```person 4    4.1```<br>
```dtype: float64``` <br>

### Exercise 1.9
Use **Fancy Indexing** with **Explicit Indexing** to access and print the values of the Series `s1` with Index `"person 2"` and `"person 4"`
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access with explicit indexing you can use the .loc() method.</li>
    <li>To use fancy indexing you can specify each individual index between square brackets. E.g., to access columns 'b' and 'c' you can use s1.loc[['b', 'c']] .</li>
</ul>
</p>

In [ ]:
s1 = pd.Series({"person 1": 1.0, "person 2": 5.0, "person 3": 0.5, "person 4": 4.1})

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```person 2    5.0```<br>
```person 4    4.1```<br>
```dtype: float64```

<a id='2'></a>
## 2. Pandas DataFrames

### Exercise 2.1
Create a **Pandas DataFrames** into a variable `df` from the series `age_s`, `gender_s`, and `country_s`, with column names `"age"`, `"gender"`, and `"country"`, respectively. Then **print** the DataFrame `df`.

In [3]:
age_s = pd.Series({"person 1": 21, "person 2": 25, "person 3": 34, "person 4": 27})
gender_s = pd.Series({"person 1": "M", "person 2": "F", "person 3": "M", "person 4": "F"})
country_s = pd.Series({"person 1": "Italy", "person 2": "United Kingdom", "person 3": "France", "person 4": "Spain"})

#### START CODE HERE (~2 lines) ####
df = pd.DataFrame({"age": age_s, "gender":gender_s})
#### END CODE HERE ####

In [4]:
print(df)

          age gender
person 1   21      M
person 2   25      F
person 3   34      M
person 4   27      F

In [7]:
df.tail(3)

          age gender
person 2   25      F
person 3   34      M
person 4   27      F

#### Expected output
```          age gender         country```<br>
```person 1   21      M           Italy```<br>
```person 2   25      F  United Kingdom```<br>
```person 3   34      M          France```<br>
```person 4   27      F           Spain```

### Exercise 2.2
Create a **Pandas DataFrames** into a variable `df` from the lists `age_list`, `gender_list`, and `country_list`, with column names `"age"`, `"gender"`, and `"country"`, respectively. The Index is specified in `index_list`. Then **print** the DataFrame `df`.

In [ ]:
age_list = [21, 25, 34, 27]
gender_list = ["M", "F", "M", "F"]
country_list = ["Italy", "United Kingdom", "France", "Spain"]
index_list = ["person 1", "person 2", "person 3", "person 4"]

#### START CODE HERE (~2 lines) ####

#### END CODE HERE ####

#### Expected output
```          age gender         country```<br>
```person 1   21      M           Italy```<br>
```person 2   25      F  United Kingdom```<br>
```person 3   34      M          France```<br>
```person 4   27      F           Spain```

You can see that the two methods of creating the DataFrames are **equivalent** and produce the same output.
Another equivalent method is the following:

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]


df = pd.DataFrame(data_list, index=index_list) 
print(df)

### Exercise 2.3
**Access** and **print** the **column** `"country"` of the DataFrame `df`.

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]

df = pd.DataFrame(data_list, index=index_list) 

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```person 1             Italy```<br>
```person 2    United Kingdom```<br>
```person 3            France```<br>
```person 4             Spain```<br>
```Name: country, dtype: object```

When you access a single column, you can see that a Series is returned.

### Exercise 2.4
**Access** and **print** the **row** corresponding to the **index** `"person 2"` of the DataFrame `df` (with **explicit indexing**).
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access with explicit indexing, you can use the .loc() method.</li>
</ul>
</p>

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]

df = pd.DataFrame(data_list, index=index_list) 

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```age                    25```<br>
```gender                  F```<br>
```country    United Kingdom```<br>
```Name: person 2, dtype: object```<br>

You can see that this time, the is returned a Series where the **index is replaced with the name of the columns**.

### Exercise 2.5
**Access** the **slice of rows** from **index 1 until the end** of the DataFrame `df` (both included) and print those rows (with **implicit indexing**).
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access with implicit indexing, you can use the .iloc() method.</li>
    <li>You can omit the end index to access until the end.</li>
</ul>
</p>

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]

df = pd.DataFrame(data_list, index=index_list) 

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```          age gender         country```<br>
```person 2   25      F  United Kingdom```<br>
```person 3   34      M          France```<br>
```person 4   27      F           Spain```<br>

You can see that this time, it is returned a DataFrame.

### Exercise 2.6
**Access** the **slice** of the DataFrame `df` (with **explicit indexing**) containing rows from `person 2` to `person 4` (both included), and columns from `gender` to `country` (both included), and **print the slice**.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>To access with explicit indexing, you can use the .loc() method.</li>
</ul>
</p>

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]

df = pd.DataFrame(data_list, index=index_list) 

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```         gender         country```<br>
```person 2      F  United Kingdom```<br>
```person 3      M          France```<br>
```person 4      F           Spain```<br>

### Exercise 2.7

**Access** and **print** the **columns** `gender` and `country` of the DataFrame `df` for **all the rows** with **gender equal to** `F`.
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>You can exploit masking and slicing with the .loc() method. E.g., df.loc[mask, 'column 1':] </li>
    <li>You can also access and masking in one line. <br>E.g., df.loc[df['column 1'] == 0, ['column 1', 'column 2']] (Masking + Fancy Indexing)<br> E.g., df.loc[df['column 1'] == 0, 'column 1' : 'column 2'] (Masking + Slicing)
</ul>
</p>

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]

df = pd.DataFrame(data_list, index=index_list) 

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```         gender         country```<br>
```person 2      F  United Kingdom```<br>
```person 4      F           Spain```<br>

### Exercise 2.8

**Add a new column** `working hours` with the values in the following list `['part time', 'full time', 'full time', 'full time']`.

In [ ]:
data_list = [{"age": 21, "gender": "M", "country": "Italy"}, 
             {"age": 25, "gender": "F", "country": "United Kingdom"},
             {"age": 34, "gender": "M", "country": "France"},
             {"age": 27, "gender": "F", "country": "Spain"}]

index_list = ["person 1", "person 2", "person 3", "person 4"]

df = pd.DataFrame(data_list, index=index_list) 

#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

print(df)

#### Expected output
```          age gender         country working hours```<br>
```person 1   21      M           Italy     part time```<br>
```person 2   25      F  United Kingdom     full time```<br>
```person 3   34      M          France     full time```<br>
```person 4   27      F           Spain     full time```<br>

<a id='3'></a>
## 3. Computation with Pandas

### Exercise 3.1

Compute the **mean** in a variable `mean_series` and the **standard deviation** in a variable `std_series` of the columns of the dataframe `df`. The mean and the standard deviation should be computed for each column **separately**. The dataframe `df` contains a column `size` containing the size of the houses, and another column `n_rooms` containing the number of rooms of the houses. Therefore, computing the mean and the standard deviation for each column separately, you will compute the mean and the standard deviation of the size of the houses and of the number of rooms (separately).

In [ ]:
n_houses = 100

size_houses = np.random.normal(500, 50, (n_houses,))

n_rooms = np.random.normal(3, 2, (n_houses,)) # Generate n_samples samples for the number of rooms with the specified mean and std dev
n_rooms = n_rooms.astype(int) # convert the number of rooms to an array containing only integers numbers
n_rooms = n_rooms+np.min(n_rooms)*-1+1 # move the samples with a minumum number of rooms of 1 (this will change the mean)

index_list = [f"House {i}" for i in range(n_houses)]

df = pd.DataFrame({"size":size_houses, "n_rooms":n_rooms}, index=index_list) 


#### START CODE HERE (~2 lines) ####

#### END CODE HERE ####

In [ ]:
print("Mean of the columns")
print(mean_series)
print("\nStandard deviation of the columns")
print(std_series)

#### Expected output
```Mean of the columns```<br>
```size       497.440337```<br>
```n_rooms      5.210000```<br>
```dtype: float64```<br><br>
```Standard deviation of the columns```<br>
```size       49.829333```<br>
```n_rooms     1.945183```<br>
```dtype: float64```<br>

### Exercise 3.2

Implement the **Min-Max normalization** with Pandas of the DataFrame `df` for **each column separately**. After the normalization, **all the columns must be in the range** `[0, 1]`.

Remember that the formula for the **Min-Max normalization** is the following:

$$ X\_norm = \frac{(x - x_{min})}{(x_{max} - x_{min})} $$

Firstly, run the next cell to create the DataFrame.

In [ ]:
n_houses = 100

size_houses = np.random.normal(500, 50, (n_houses,))

n_rooms = np.random.normal(3, 2, (n_houses,)) # Generate n_samples samples for the number of rooms with the specified mean and std dev
n_rooms = n_rooms.astype(int) # convert the number of rooms to an array containing only integers numbers
n_rooms = n_rooms+np.min(n_rooms)*-1+1 # move the samples with a minumum number of rooms of 1 (this will change the mean)

index_list = [f"House {i}" for i in range(n_houses)]

df = pd.DataFrame({"size":size_houses, "n_rooms":n_rooms}, index=index_list) 

print("First 10 lines of the dataframe")
print(df.head(10))

Now, perform the **Min-Max normalization** of the DataFrame `df` and put the result into a new variable `df_norm`.

<br>
<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
   <li>You should exploit <strong>broadcasting</strong>.</li>
<li>The mean and std operations return each a new series with the mean and the standard deviation for each column.
</ul>
</p>

In [ ]:
#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

In [ ]:
print("Minimum values after normalization")
print(df_norm.min())
print("\nMaximum values after normalization")
print(df_norm.max())

#### Expected output
```Minimum values after normalization```<br>
```size       0.0```<br>
```n_rooms    0.0```<br>
```dtype: float64```<br><br>
```Maximum values after normalization```<br>
```size       1.0```<br>
```n_rooms    1.0```<br>
```dtype: float64```<br>

### Exercise 3.3

Compute the **mean** of **all the columns** for the groups obtained by aggregating the column `size`.

Firstly, run the next cell to create the DataFrame.

In [ ]:
city_zones = ["crocetta", "santa rita", "centro", "vanchiglia", "san paolo"]

n_houses = 100

size_houses = np.random.normal(500, 50, (n_houses,))

n_rooms = np.random.normal(3, 2, (n_houses,)) # Generate n_samples samples for the number of rooms with the specified mean and std dev
n_rooms = n_rooms.astype(int) # convert the number of rooms to an array containing only integers numbers
n_rooms = n_rooms+np.min(n_rooms)*-1+1 # move the samples with a minumum number of rooms of 1 (this will change the mean)

zones = [city_zones[random.randint(0, len(city_zones)-1)] for i in range(n_houses)]

index_list = [f"House {i}" for i in range(n_houses)]

df = pd.DataFrame({"size":size_houses, "n_rooms":n_rooms, "zone":zones}, index=index_list) 

print("first 10 rows:")
df.head(10)

Now, compute and print the mean of the `size` and `n_rooms` columns of the groups obtained by aggregating the `zone` column. After the group operation, you should put `.reset_index()` to **reset the multi-level index**.

In [ ]:
#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```__         zone        size   n_rooms```<br>
```0	    centro  511.350284  5.411765```<br>
```1	  crocetta	499.389683	5.583333```<br>
```2	 san paolo	490.504449	5.214286```<br>
```3	santa rita	501.955531	5.300000```<br>
```4	vanchiglia	505.539748	5.960000```<br>

### Exercise 3.4

Compute the **maximum value** of the column `size` for the **groups obtained by aggregating** the column `zone` (i.e., in each row you should obtain the maximum size for each zone). After the group operation, you should put `.reset_index()` to **reset the multi-level index**.

In [ ]:
#### START CODE HERE (~1 line) ####

#### END CODE HERE ####

#### Expected output
```__         zone        size```<br>
```0	    centro    608.947503```<br>
```1	  crocetta	565.018991```<br>
```2	 san paolo	596.072535```<br>
```3	santa rita	569.898028```<br>
```4	vanchiglia	579.317779```<br>